* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.container {
  width: 825px;
  margin: 50px auto;
}

.product {
  border: 5px solid #000;
}

h2.product-title {
  text-align: center;
  text-transform: uppercase;
  background-color: #f7f7f7;
  font-size: 22px;
  padding: 15px;
  margin-bottom: 20px;
}
.price {
  font-size: 22px;
  font-weight: bold;
}

.shipping {
  color: #777;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
}

.more-info:link,
.more-info:visited {
  color: #000;
  margin-bottom: 20px;
  display: inline-block;
}

li {
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 20px;
}

.more-info:hover {
  text-decoration: none;
}

.add-to-cart {
  background-color: #000;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-top: 5px solid #000;
  display: block;
  width: 100%;
  padding: 10px 0;
}

.add-to-cart:hover {
  background-color: #fff;
  color: #000;
}

.details-title {
  text-transform: uppercase;
  font-size: 16px;
}
.details-lists {
  list-style: square;
}

ul {
  margin-left: 50px;
}
